*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background: url(img/wasa.jpg) no-repeat center;
  }

.wasa{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2. 1fr);
    grid-template-areas: "wasa-img wasa-text";
    align-items: center;
    gap: 2rem;
}
.wasa-img img{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: wasa-img;
}
.wasa-text{
    padding: 0 19%;
    grid-area: wasa-text;
}
.wasa-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.wasa-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: #375d97;
    margin: 0 0 45px;
}
.wasa-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;

}
.wasa-text p{
    color:white;
    font-size: 3;
    margin-bottom: 20px;
    font: bold;
    
}
section{
    padding: 0 19%;
}
.wasa-text ul{
    color: white;
    font-size: 1.9;
    margin-bottom: 30;
}
.wasa-text a{
    display: inline-block;
    color: white;
    background: #31568e;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
}